@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Orbitron:wght@400;700&display=swap');
/* :root{
    font-family: 'Orbitron', sans-serif;
} */
/* 2 sets the font for the web page*/
html{
    font-family: 'Orbitron', sans-serif; 
    
}
/* 3 makes the font bold */
span{
 font-weight: bold;
}

h1{
    /* 4 */
    font-size: 50px;
    /* 5 */
    letter-spacing: 10px;
    /* 6 */
    text-align: center;
    /* 7 */
    text-decoration: underline;
    /* 8 */
    text-transform: uppercase;
}
/* 9 */
#series-movies{
    font-size: 20px;
}
/* 10 */
h2{
    font-size: 2.5em;
}
/* 11 */
li{
    line-height: 2;
}
/* 12 */
#characters{
    font-size: 18px;
}
/* 13 */
h4{
    letter-spacing: 15px;
}